body {
    text-align: center;
    background: #333;
    color: lightgray;
}
body input {
    background: #333;
    border: 1px white solid;
    color: lightgray;
    padding: 5px;
    font-family: courier;
    text-align: center;
}
body button {
    margin: 10px;
    background: #555;
    border: 1px white solid;
    color: lightgray;
    padding: 5px;
    font-family: courier;
}

body button:hover {
    margin: 10px;
    background: #777;
    border: 1px white solid;
    color: lightgray;
    padding: 5px;
    font-family: courier;
}

.features {
    font-family: courier;
    padding: 3px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.features li {
    font-size: 1em;
    font-family: courier;
    padding: 3px;
}

h2 {
    font-size: 3em;
    font-family: courier;
}
h3 {
    color: pink;
    font-family: courier;
}
#room-chooser {
}
#file-chooser {
}
#save {
}
#messages {
}
#content {
    display: none;
}
#outercontainer {
    float: left;
    width: 100%;
    border: none;
}
#container {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
#diff-box {
    margin-left: auto;
    margin-right: auto;
}
#diff {
    clear: both;
    float: left;
    width: 100%;
    border: none;
}
#container div .monaco-editor { }
